:root {
    /* HUES */
    --strawberry: 357;
    --orange    : 22;
    --banana    : 43;
    --lime      : 120;
    --mint      : 170;
    --blueberry : 212;
    --grape     : 269;
    --bubblegum : 335;
    --chocolate : 20;
    --silver    : 220;
    --slate     : 210;
    --black     : 0;

    --black-100-raw: var(--black) 0% 40%;
    --black-300-raw: var(--black) 0% 30%;
    --black-500-raw: var(--black) 0% 20%;
    --black-700-raw: var(--black) 0% 10%;
    --black-900-raw: var(--black) 0% 0%;

    --slate-100-raw: var(--slate) 20% 85%;
    --slate-300-raw: var(--slate) 20% 65%;
    --slate-500-raw: var(--slate) 20% 45%;
    --slate-700-raw: var(--slate) 20% 25%;
    --slate-900-raw: var(--slate) 20% 15%;

    --silver-100-raw: var(--silver) 2% 100%;
    --silver-300-raw: var(--silver) 2% 90%;
    --silver-500-raw: var(--silver) 2% 80%;
    --silver-700-raw: var(--silver) 2% 70%;
    --silver-900-raw: var(--silver) 2% 65%;

    --chocolate-100-raw: var(--chocolate) 25% 55%;
    --chocolate-300-raw: var(--chocolate) 25% 45%;
    --chocolate-500-raw: var(--chocolate) 25% 35%;
    --chocolate-700-raw: var(--chocolate) 25% 25%;
    --chocolate-900-raw: var(--chocolate) 25% 15%;

    --bubblegum-100-raw: var(--bubblegum) 71% 86%;
    --bubblegum-300-raw: var(--bubblegum) 71% 66%;
    --bubblegum-500-raw: var(--bubblegum) 71% 56%;
    --bubblegum-700-raw: var(--bubblegum) 71% 46%;
    --bubblegum-900-raw: var(--bubblegum) 71% 16%;

    --grape-100-raw: var(--grape) 67% 86%;
    --grape-300-raw: var(--grape) 67% 76%;
    --grape-500-raw: var(--grape) 67% 66%;
    --grape-700-raw: var(--grape) 67% 56%;
    --grape-900-raw: var(--grape) 67% 46%;

    --blueberry-100-raw: var(--blueberry) 78% 86%;
    --blueberry-300-raw: var(--blueberry) 78% 76%;
    --blueberry-500-raw: var(--blueberry) 78% 56%;
    --blueberry-700-raw: var(--blueberry) 78% 26%;
    --blueberry-900-raw: var(--blueberry) 78% 16%;

    --mint-100-raw: var(--mint) 65% 85%;
    --mint-300-raw: var(--mint) 65% 65%;
    --mint-500-raw: var(--mint) 65% 45%;
    --mint-700-raw: var(--mint) 65% 35%;
    --mint-900-raw: var(--mint) 65% 25%;

    --lime-100-raw: var(--lime) 68% 83%;
    --lime-300-raw: var(--lime) 68% 73%;
    --lime-500-raw: var(--lime) 68% 63%;
    --lime-700-raw: var(--lime) 68% 43%;
    --lime-900-raw: var(--lime) 68% 23%;

    --strawberry-100-raw: var(--strawberry) 68% 90%;
    --strawberry-300-raw: var(--strawberry) 68% 70%;
    --strawberry-500-raw: var(--strawberry) 68% 46%;
    --strawberry-700-raw: var(--strawberry) 68% 36%;
    --strawberry-900-raw: var(--strawberry) 68% 16%;

    --orange-100-raw: var(--orange) 89% 76%;
    --orange-300-raw: var(--orange) 89% 66%;
    --orange-500-raw: var(--orange) 89% 56%;
    --orange-700-raw: var(--orange) 89% 46%;
    --orange-900-raw: var(--orange) 89% 36%;

    --banana-100-raw: var(--banana) 94% 81%;
    --banana-300-raw: var(--banana) 94% 71%;
    --banana-500-raw: var(--banana) 94% 61%;
    --banana-700-raw: var(--banana) 94% 41%;
    --banana-900-raw: var(--banana) 94% 21%;
}

:root {
    --black-100: hsl(var(--black-100-raw));
    --black-300: hsl(var(--black-300-raw));
    --black-500: hsl(var(--black-500-raw));
    --black-700: hsl(var(--black-700-raw));
    --black-900: hsl(var(--black-900-raw));

    --slate-100: hsl(var(--slate-100-raw));
    --slate-300: hsl(var(--slate-300-raw));
    --slate-500: hsl(var(--slate-500-raw));
    --slate-700: hsl(var(--slate-700-raw));
    --slate-900: hsl(var(--slate-900-raw));

    --silver-100: hsl(var(--silver-100-raw));
    --silver-300: hsl(var(--silver-300-raw));
    --silver-500: hsl(var(--silver-500-raw));
    --silver-700: hsl(var(--silver-700-raw));
    --silver-900: hsl(var(--silver-900-raw));

    --chocolate-100: hsl(var(--chocolate-100-raw));
    --chocolate-300: hsl(var(--chocolate-300-raw));
    --chocolate-500: hsl(var(--chocolate-500-raw));
    --chocolate-700: hsl(var(--chocolate-700-raw));
    --chocolate-900: hsl(var(--chocolate-900-raw));

    --bubblegum-100: hsl(var(--bubblegum-100-raw));
    --bubblegum-300: hsl(var(--bubblegum-300-raw));
    --bubblegum-500: hsl(var(--bubblegum-500-raw));
    --bubblegum-700: hsl(var(--bubblegum-700-raw));
    --bubblegum-900: hsl(var(--bubblegum-900-raw));

    --grape-100: hsl(var(--grape-100-raw));
    --grape-300: hsl(var(--grape-300-raw));
    --grape-500: hsl(var(--grape-500-raw));
    --grape-700: hsl(var(--grape-700-raw));
    --grape-900: hsl(var(--grape-900-raw));

    --blueberry-100: hsl(var(--blueberry-100-raw));
    --blueberry-300: hsl(var(--blueberry-300-raw));
    --blueberry-500: hsl(var(--blueberry-500-raw));
    --blueberry-700: hsl(var(--blueberry-700-raw));
    --blueberry-900: hsl(var(--blueberry-900-raw));

    --mint-100: hsl(var(--mint-100-raw));
    --mint-300: hsl(var(--mint-300-raw));
    --mint-500: hsl(var(--mint-500-raw));
    --mint-700: hsl(var(--mint-700-raw));
    --mint-900: hsl(var(--mint-900-raw));

    --lime-100: hsl(var(--lime-100-raw));
    --lime-300: hsl(var(--lime-300-raw));
    --lime-500: hsl(var(--lime-500-raw));
    --lime-700: hsl(var(--lime-700-raw));
    --lime-900: hsl(var(--lime-900-raw));

    --strawberry-100: hsl(var(--strawberry-100-raw));
    --strawberry-300: hsl(var(--strawberry-300-raw));
    --strawberry-500: hsl(var(--strawberry-500-raw));
    --strawberry-700: hsl(var(--strawberry-700-raw));
    --strawberry-900: hsl(var(--strawberry-900-raw));

    --orange-100: hsl(var(--orange-100-raw));
    --orange-300: hsl(var(--orange-300-raw));
    --orange-500: hsl(var(--orange-500-raw));
    --orange-700: hsl(var(--orange-700-raw));
    --orange-900: hsl(var(--orange-900-raw));

    --banana-100: hsl(var(--banana-100-raw));
    --banana-300: hsl(var(--banana-300-raw));
    --banana-500: hsl(var(--banana-500-raw));
    --banana-700: hsl(var(--banana-700-raw));
    --banana-900: hsl(var(--banana-900-raw));
}

@mixin dark-colors {
    --bg-0: var(--black-700);
    --bg-1: var(--black-500);
    --bg-2: var(--black-300);
    --bg-3: var(--black-100);

    --bg-0-raw: var(--black-700-raw);
    --bg-1-raw: var(--black-500-raw);
    --bg-2-raw: var(--black-300-raw);
    --bg-3-raw: var(--black-100-raw);

    --contrast-text     : var(--silver-100);
    --default-text      : var(--silver-300);
    --subtle-text       : var(--silver-500);
    --non-essential-text: var(--silver-700);

    --selection-background: var(--banana-900);
    --selection-foreground: var(--banana-100);

    --bg-error  : var(--strawberry-900);
    --bg-success: var(--lime-900);
    --bg-warning: var(--banana-900);
    --bg-info   : var(--blueberry-900);

    --text-error  : var(--strawberry-300);
    --text-success: var(--lime-300);
    --text-warning: var(--banana-300);
    --text-info   : var(--blueberry-300);
}

@mixin light-colors {
    --bg-0: var(--silver-100);
    --bg-1: var(--silver-300);
    --bg-2: var(--silver-500);
    --bg-3: var(--silver-900);

    --bg-0-raw: var(--silver-100-raw);
    --bg-1-raw: var(--silver-300-raw);
    --bg-2-raw: var(--silver-500-raw);
    --bg-3-raw: var(--silver-900-raw);

    --contrast-text     : var(--black-700);
    --default-text      : var(--black-500);
    --subtle-text       : var(--black-300);
    --non-essential-text: var(--black-100);

    --selection-background: var(--banana-100);
    --selection-foreground: var(--banana-900);

    --bg-error  : var(--strawberry-100);
    --bg-success: var(--lime-100);
    --bg-warning: var(--banana-100);
    --bg-info   : var(--blueberry-100);

    --text-error  : var(--strawberry-700);
    --text-success: var(--lime-700);
    --text-warning: var(--banana-700);
    --text-info   : var(--blueberry-700);
}

:root {
    @include light-colors();

    @media (prefers-color-scheme: dark) {
        @include dark-colors();
    }
}

.light {
    @include light-colors();
}

.dark {
    @include dark-colors();
}

.black {
    &-100 {

        &-fg {
            color: var(--black-100);
        }

        &-bg {
            background-color: var(--black-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--black-300);
        }

        &-bg {
            background-color: var(--black-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--black-500);
        }

        &-bg {
            background-color: var(--black-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--black-700);
        }

        &-bg {
            background-color: var(--black-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--black-900);
        }

        &-bg {
            background-color: var(--black-900);
        }
    }
}

.slate {
    &-100 {

        &-fg {
            color: var(--slate-100);
        }

        &-bg {
            background-color: var(--slate-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--slate-300);
        }

        &-bg {
            background-color: var(--slate-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--slate-500);
        }

        &-bg {
            background-color: var(--slate-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--slate-700);
        }

        &-bg {
            background-color: var(--slate-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--slate-900);
        }

        &-bg {
            background-color: var(--slate-900);
        }
    }
}

.silver {
    &-100 {

        &-fg {
            color: var(--silver-100);
        }

        &-bg {
            background-color: var(--silver-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--silver-300);
        }

        &-bg {
            background-color: var(--silver-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--silver-500);
        }

        &-bg {
            background-color: var(--silver-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--silver-700);
        }

        &-bg {
            background-color: var(--silver-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--silver-900);
        }

        &-bg {
            background-color: var(--silver-900);
        }
    }
}

.bubblegum {
    &-100 {

        &-fg {
            color: var(--bubblegum-100);
        }

        &-bg {
            background-color: var(--bubblegum-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--bubblegum-300);
        }

        &-bg {
            background-color: var(--bubblegum-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--bubblegum-500);
        }

        &-bg {
            background-color: var(--bubblegum-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--bubblegum-700);
        }

        &-bg {
            background-color: var(--bubblegum-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--bubblegum-900);
        }

        &-bg {
            background-color: var(--bubblegum-900);
        }
    }
}

.chocolate {
    &-100 {

        &-fg {
            color: var(--chocolate-100);
        }

        &-bg {
            background-color: var(--chocolate-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--chocolate-300);
        }

        &-bg {
            background-color: var(--chocolate-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--chocolate-500);
        }

        &-bg {
            background-color: var(--chocolate-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--chocolate-700);
        }

        &-bg {
            background-color: var(--chocolate-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--chocolate-900);
        }

        &-bg {
            background-color: var(--chocolate-900);
        }
    }
}

.grape {
    &-100 {

        &-fg {
            color: var(--grape-100);
        }

        &-bg {
            background-color: var(--grape-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--grape-300);
        }

        &-bg {
            background-color: var(--grape-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--grape-500);
        }

        &-bg {
            background-color: var(--grape-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--grape-700);
        }

        &-bg {
            background-color: var(--grape-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--grape-900);
        }

        &-bg {
            background-color: var(--grape-900);
        }
    }
}

.blueberry {
    &-100 {

        &-fg {
            color: var(--blueberry-100);
        }

        &-bg {
            background-color: var(--blueberry-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--blueberry-300);
        }

        &-bg {
            background-color: var(--blueberry-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--blueberry-500);
        }

        &-bg {
            background-color: var(--blueberry-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--blueberry-700);
        }

        &-bg {
            background-color: var(--blueberry-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--blueberry-900);
        }

        &-bg {
            background-color: var(--blueberry-900);
        }
    }
}

.mint {
    &-100 {

        &-fg {
            color: var(--mint-100);
        }

        &-bg {
            background-color: var(--mint-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--mint-300);
        }

        &-bg {
            background-color: var(--mint-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--mint-500);
        }

        &-bg {
            background-color: var(--mint-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--mint-700);
        }

        &-bg {
            background-color: var(--mint-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--mint-900);
        }

        &-bg {
            background-color: var(--mint-900);
        }
    }
}

.lime {
    &-100 {

        &-fg {
            color: var(--lime-100);
        }

        &-bg {
            background-color: var(--lime-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--lime-300);
        }

        &-bg {
            background-color: var(--lime-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--lime-500);
        }

        &-bg {
            background-color: var(--lime-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--lime-700);
        }

        &-bg {
            background-color: var(--lime-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--lime-900);
        }

        &-bg {
            background-color: var(--lime-900);
        }
    }
}

.strawberry {
    &-100 {

        &-fg {
            color: var(--strawberry-100);
        }

        &-bg {
            background-color: var(--strawberry-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--strawberry-300);
        }

        &-bg {
            background-color: var(--strawberry-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--strawberry-500);
        }

        &-bg {
            background-color: var(--strawberry-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--strawberry-700);
        }

        &-bg {
            background-color: var(--strawberry-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--strawberry-900);
        }

        &-bg {
            background-color: var(--strawberry-900);
        }
    }
}

.orange {
    &-100 {

        &-fg {
            color: var(--orange-100);
        }

        &-bg {
            background-color: var(--orange-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--orange-300);
        }

        &-bg {
            background-color: var(--orange-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--orange-500);
        }

        &-bg {
            background-color: var(--orange-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--orange-700);
        }

        &-bg {
            background-color: var(--orange-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--orange-900);
        }

        &-bg {
            background-color: var(--orange-900);
        }
    }
}

.banana {
    &-100 {

        &-fg {
            color: var(--banana-100);
        }

        &-bg {
            background-color: var(--banana-100);
        }
    }

    &-300 {

        &-fg {
            color: var(--banana-300);
        }

        &-bg {
            background-color: var(--banana-300);
        }
    }

    &-500 {

        &-fg {
            color: var(--banana-500);
        }

        &-bg {
            background-color: var(--banana-500);
        }
    }

    &-700 {

        &-fg {
            color: var(--banana-700);
        }

        &-bg {
            background-color: var(--banana-700);
        }
    }

    &-900 {

        &-fg {
            color: var(--banana-900);
        }

        &-bg {
            background-color: var(--banana-900);
        }
    }
}