*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-100);
    color           : var(--fg-300);
    margin          : 0;
}

img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1.00rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

@import "colors.scss";
@import "variables.scss";
@import "layout.scss";
@import "utility.scss";
@import "syntax-highlighting.scss";
@import "typography.scss";

/* COMPONENTS */
@import "components/alert.scss";
@import "components/badge.scss";
@import "components/breadcrumb.scss";
@import "components/button.scss";
@import "components/byline.scss";
@import "components/code-snippet.scss";
@import "components/disclosure.scss";
@import "components/pagination.scss";