/* POSTS */
.post {
    display              : grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    padding-bottom       : 10vh;
}

.post .header {
    grid-column: 1/4;
    max-width  : none;
    width      : 100%;
}

.header.image-card {
    box-shadow: none;
}

.header.image-card>img {
    grid-row  : 1/2;
    max-height: 45ch;
    width     : 100%;
}

.header.image-card .card {
    gap   : var(--space-s);
    margin: 0;

    --box-shadow: none;
    --space     : var(--space-l);
}

.post__title {
    font-family: var(--font-sans);
    font-size  : clamp(2rem, 10vw, 3rem);
    font-weight: 800;
    margin     : 0;
    margin-top : 1em;
}

.post__subtitle {
    font-size  : 1.25em;
    font-weight: 300;
    line-height: 1.25;
    margin     : 0;
}

.header .spaced.flex {
    padding: var(--space) 0;
}

@media (min-width: 840px) {
    .header.image-card .card {
        gap     : var(--space);
        grid-row: 2/4;
        margin  : var(--space) auto;
        padding : calc(var(--space-l) * 1);
        width   : 75%;
    }

    .header.image-card>img {
        grid-row: 1/3;
    }

    .header .badge-group {
        align-self: start;
        grid-row  : 1/2;
    }

    .post__title {
        margin-top: 2em;
    }

    .header .spaced.flex {
        --space: 0;
    }
}

.contents {
    display              : grid;
    font-family          : var(--body-copy, var(--font-serif));
    grid-column          : 1/4;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    line-height          : 1.25;
    padding              : var(--space, var(--space-l));
    width                : 100%;
}

.contents>* {
    grid-column: 2;
    margin     : 0;
    margin-top : 1em;
}

.contents .full-width {
    grid-column: 1 / 4;
    width      : 100%;
}

.contents iframe,
.contents video,
.contents figure,
.contents .code-snippet {
    margin-bottom: 1em;
}

.contents>*:not(h1, h2, h3, h4, h5, h6) {
    color: var(--fg-100);
}

.contents :is(h2, h3, h4, h5, h6) {
    font-family: var(--font-sans);
    margin-top : 2em;
}

.contents h2 {
    font-size: clamp(2rem, 4vw, 2.5rem);
}

.contents h3 {
    color      : var(--fg-500);
    font-size  : clamp(1.5rem, 2vw, 1.9rem);
    font-weight: 800;
}

.page-with-sidebar {
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : 1em;
}

.page-with-sidebar .menu {
    display: none;
}

@media (min-width: 960px) {
    .page-with-sidebar {
        grid-template-columns: 1fr 3fr;
    }

    .page-with-sidebar .navbar {
        grid-column: 1/3;
    }

    .page-with-sidebar .menu {
        display    : revert;
        grid-column: 1/2;
    }

    .page-with-sidebar main {
        grid-column: 2/3;
    }
}