////
/// @author Francis Rubio (@maniczirconium)
////

/// @name Focus Ring
/// Adds a focus ring around an element
/// @parameter { color } $color the color of the focus ring
/// @parameter { boolean } $inset whether the focus ring appears inside the element or not. Default: false
@mixin focus-ring($color, $inset: false) {
    outline: 3px solid $color;

    @if $inset {
        outline-offset: -3px;
    }

    @else {
        outline-offset: 3px;
    }
}