@use "sass:math";
$type-ratios: ("minorSecond": 1.067,
    "majorSecond": 1.125,
    "minorThird": 1.2,
    "majorThird": 1.25,
    "perfectFourth": 1.333,
    "augmentedFourth": 1.414,
    "perfectFifth": 1.5,
    "goldenRatio": 1.618,
);

// Recommended starting point
$type-base-size: 1rem;

// Select by key of map, or use a custom value
$type-size-ratio  : 1.5;
$type-size-ratio-2: 1.333;
$type-levels      : 4,
3,
2,
1;
$type-levels-count: 6;
$level-size       : $type-base-size;

:root {
    --font-sans : "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --monospace : "Cascadia Code", monospace;

    /* ALIASES */
    --font-mono     : var(--monospace);
    --font-monospace: var(--monospace);
}

body {
    font-family: var(--font-sans);
}

pre,
code,
kbd,
var,
samp {
    font-family: var(--monospace);
}

code {
    background-color: #0001;
    border-radius   : var(--border-radius);
    padding         : calc(var(--space-xs) / 2);
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: #fff1;
    }
}

i,
em,
cite {
    font-family: var(--font-serif);
}

a {
    color          : var(--bubblegum-700);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--bubblegum-300);
    }
}

a:not([class]):hover {
    text-decoration: 1px underline;
}

pre {
    overflow: auto;
}

.pre-wrap {
    white-space: pre-wrap;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
    font-weight: 800;
}

.h5,
h5 {
    font-size: clamp(1em, 5vw, 1.25em);
}

.h6,
h6 {
    font-size     : 1em;
    font-weight   : normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@each $level in $type-levels {
    $level-size-2: (math.div($level-size, 3) * 2) * $type-size-ratio-2;
    $level-size  : $level-size * $type-size-ratio;

    $viewport-size: ($type-levels-count - $level) * 2vw;

    @if $level-size < 1rem {
        $level-size: 1rem
    }

    @if $level-size-2 < 1rem {
        $level-size-2: 1.25rem
    }

    .h#{$level},
    h#{$level} {
        font-size: $level-size;
        font-size: clamp(#{$level-size-2}, #{$viewport-size}, #{$level-size});
    }
}

.weight-light {
    font-weight: 300;
}

.weight-normal {
    font-weight: 400;
}

.weight-bold {
    font-weight: 600;
}

.weight-x-bold {
    font-weight: 800;
}

/* DEFINITION LISTS */

dl {
    margin: auto;
}

dl dt {
    grid-column: 1;
    display    : flex;
    font-weight: 600;
    align-items: start;
}

dl dd+dt {
    margin-top: 2em;
}

dl dd {
    margin: 0;
}

dl dd::before {
    content: '\2014\20';
}

@media (min-width: 85ch) {
    dl {
        display              : grid;
        gap                  : 1em;
        grid-template-columns: auto 2fr;
        place-items          : stretch;
    }

    dl dt {
        grid-column: 1;
        display    : flex;
        font-weight: 600;
    }

    dl dd+dt {
        margin: 0;
    }

    dl dd {
        grid-column: 2;
    }

    dl dd::before {
        content: none;
    }
}