:root {
    --font-sans : "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --monospace : "Monacode", monospace;

    /* ALIASES */
    --font-mono     : var(--monospace);
    --font-monospace: var(--monospace);
}

body {
    font-family: var(--font-sans);
}

pre,
code,
kbd,
var,
samp {
    font-family: var(--monospace);
}

code {
    background-color: #0001;
    border-radius   : var(--border-radius);
    padding         : calc(var(--space-xs) / 2);
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: #fff1;
    }
}

i,
em,
cite {
    font-family: var(--font-serif);
}

a {
    color          : var(--accent-700);
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--accent-300);
    }
}

a:not([class]):hover {
    text-decoration: 1px underline;
}

pre {
    overflow: auto;
}

.pre-wrap {
    white-space: pre-wrap;
}

h1 {
    font-size: clamp(2.5em, 10vw, 3.5em);
}

/* DEFINITION LISTS */

dl {
    margin: auto;
}

dl dt {
    font-family: var(--font-sans);
    font-weight: 800;
}

dl dd+dt {
    margin-top: 2em;
}

dl dd {
    margin: 0;
}

dl dd::before {
    content: '\2014\20';
}

@media (min-width: 85ch) {
    dl {
        display              : grid;
        gap                  : 1em;
        grid-template-columns: auto 2fr;
        place-items          : stretch;
    }

    dl dt {
        grid-column: 1;
        display    : flex;
        font-weight: 600;
    }

    dl dd+dt {
        margin: 0;
    }

    dl dd {
        grid-column: 2;
    }

    dl dd::before {
        content: none;
    }
}