:root {
    --font-sans : "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --monospace : "Monacode", monospace;
}

body {
    font-family: var(--font-sans);
}

pre,
code,
kbd,
var,
samp {
    font-family: var(--monospace);
}

code {
    background-color: #0001;
    border-radius   : var(--border-radius);
    padding         : calc(var(--space-xs) / 2);
}

@media (prefers-color-scheme: dark) {
    code {
        background-color: #fff1;
    }
}

i,
em,
cite {
    font-family: var(--font-serif);
}

a {
    color: var(--accent-700);
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--accent-300);
    }
}

pre {
    overflow: auto;
}

.pre-wrap {
    white-space: pre-wrap;
}