.skip-link {
    position     : absolute;
    left         : -999px;
    width        : 1px;
    height       : 1px;
    top          : -999px;
    padding      : var(--space-s);
    border-radius: var(--border-radius);
    z-index      : var(--elevate-dialog);

    &:focus {
        outline         : none;
        color           : var(--default-text);
        background-color: var(--bg-2);
        display         : inline-block;
        height          : auto;
        width           : auto;
        margin          : auto;
        top             : 0;
        left            : 50%;
        transform       : translateX(-50%);
    }
}

@import "utilities/alignment.scss";
@import "utilities/borders.scss";
@import "utilities/colors.scss";
@import "utilities/layout.scss";
@import "utilities/positioning.scss";
@import "utilities/shadows.scss";
@import "utilities/shapes.scss";
@import "utilities/sizes.scss";
@import "utilities/spaces.scss";
@import "utilities/typography.scss";
@import "utilities/visibility.scss";