.flex {
    display    : flex;
    flex-wrap  : wrap;
    align-items: center;
    gap        : 1em;
}

.grid {
    display: grid;
    gap    : 0.5em;
    padding: 2em;
}

.section {
    padding: 1em;
}

.section+.section {
    margin-top: 1em;
}

.page {
    width : 75%;
    margin: auto;
}

.visually-hidden {
    border     : 0;
    clip       : rect(0 0 0 0);
    height     : auto;
    margin     : 0;
    overflow   : hidden;
    padding    : 0;
    position   : absolute;
    white-space: nowrap;
    width      : 1px;
}