:root {
    --border-radius: 0.25em;

    /* Used for paddings and margins */
    --space-xs: 0.25em;
    --space-s : 0.5em;
    --space-m : 0.75em;
    --space-l : 1em;
    --space-xl : 2em;
    --space-xxl : 4em;

    /* Z-index for components */
    --elevate-dropdown: 800;
    --elevate-navbar  : 900;
    --elevate-dialog  : 1000;

    /* Maximum width of article paragraphs */
    --longform-width: 65ch;

    /* Shadows */
    --shadow-1: 0 4px 8px var(--shadow-color, #0003);
    --shadow-2: 0 8px 16px var(--shadow-color, #0003);
    --shadow-3: 0 16px 32px var(--shadow-color, #0004);
    --shadow-4: 0 32px 64px var(--shadow-color, #0005);
}