.center-aligned {
    align-items: center !important;
}

.end-aligned {
    align-items: end !important;
}

.start-aligned {
    align-items: start !important;
}

.stretch-aligned {
    align-items: stretch !important;;
}

.stretch-justified {
    justify-content: stretch !important;;

    & > * {
        width: 100%;
    }
}

.center-justified {
    justify-items: center !important;
}

.end-justified {
    justify-items: end !important;
}

.start-justified {
    justify-items: start !important;
}

.end-self-justified {
    justify-self: end !important;
}

.center-self-justified {
    justify-self: center !important;
}

.start-self-justified {
    justify-self: start !important;
}

.end-self-aligned {
    align-self: end !important;
}

.center-self-aligned {
    align-self: center !important;
}

.start-self-aligned {
    align-self: start !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justified {
    text-align: justify
}

.text-end {
    text-align: end !important;
}

.text-start {
    text-align: start !important;
}

$alignments: baseline, sub, super, text-top, text-bottom, middle, top, bottom, unset;

@each $alignment in $alignments {
    .vertical-align-#{$alignment} {
        vertical-align: $alignment !important;
    }
}

$alignments: start, end, flex-start, flex-end, center, left, right, normal, baseline, space-between, space-around, space-evenly, stretch;

@each $alignment in $alignments {
    .justify-content-#{$alignment} {
        justify-content: $alignment;
    }
}

$alignments: auto, normal, stretch, center, start, end, flex-start, flex-end, self-start, self-end, left, right, baseline;

@each $alignment in $alignments {
    .justify-items-#{$alignment} {
        justify-items: $alignment;
    }

    .justify-self-#{$alignment} {
        justify-self: $alignment;
    }
}

$alignments: center, start, end, flex-start, flex-end, normal, baseline, space-between, space-around, space-evenly, stretch;

@each $alignment in $alignments {
    .align-content-#{$alignment} {
        align-content: $alignment;
    }
}

$alignments: normal, stretch, center, start, end, flex-start, flex-end, baseline;

@each $alignment in $alignments {
    .align-items-#{$alignment} {
        align-items: $alignment;
    }

    .align-self-#{$alignment} {
        align-self: $alignment;
    }
}

.align-self-stretch,
.align-items-stretch > * {
    height: 100%;
}

.justify-items-stretch > *,
.justify-self-stretch {
    width: 100%;
}