.center-aligned {
    align-items: center;
}

.end-aligned {
    align-items: end;
}

.start-aligned {
    align-items: start;
}

.center-justified {
    justify-items: center;
}

.end-justified {
    justify-items: end;
}

.start-justified {
    justify-items: start;
}

.end-self-justified {
    justify-self: end;
}

.center-self-justified {
    justify-self: center;
}

.start-self-justified {
    justify-self: start;
}

.end-self-aligned {
    align-self: end;
}

.center-self-aligned {
    align-self: center;
}

.start-self-aligned {
    align-self: start;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justified {
    text-align: justify
}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

$alignments: baseline, sub, super, text-top, text-bottom, middle, top, bottom, unset;

@each $alignment in $alignments {
    .vertical-align-#{$alignment} {
        vertical-align: $alignment;
    }
}