.contrast-text {
    color: var(--contrast-text);
}

.default-text {
    color: var(--default-text);
}

.subtle-text {
    color: var(--subtle-text);
}

.non-essential-text {
    color: var(--non-essential-text);
}

@for $level from 0 to 3 {
    .bg-#{$level},
    .level-#{$level}-bg {
        background-color: var(--bg-#{$level});
    }
}

$types: error, success, warning, info;

@each $color in $types {
    .text-#{$color} {
        color: var(--text-#{$color})
    }

    .bg-#{$color} {
        background-color: var(--bg-#{$color})
    }
}