.circle {
    aspect-ratio : 1;
    border-radius: 100%;
    min-width    : 6em
}

.square {
    aspect-ratio: 1;
}

.landscape {
    aspect-ratio: 16/9;
}

.portrait {
    aspect-ratio: 9/16
}

$radii: xs, s, m, l, xl, xxl;

@each $radius in $radii {
    .border-radius-#{$radius} {
        border-radius: var(--space-#{$radius}) !important;
    }
}

.border-radius {
    border-radius: var(--border-radius) !important;
}

.border-radius-none {
    border-radius: 0 !important;
}