.badge {
    background-color: var(--bg-color);
    border-radius   : var(--border-radius);
    color           : var(--text-color);
    font-weight     : 600;
    padding         : var(--space-xs) var(--space-s);
    text-decoration : none;
    transition      : background-color 300ms, box-shadow 300ms;

    --bg-color   : var(--bg-1);
    --focus-color: var(--bg-2);
    --hover-color: var(--bg-2);
    --text-color : var(--subtle-text);
}

.badge.rounded {
    border-radius: 100px;
    padding      : var(--space-xs) var(--space-m);
}

.badge.small {
    font-size: smaller;
}

.badge.large {
    padding: var(--space-s) var(--space-l);
}

a.badge[href]:hover {
    background-color: var(--hover-color);
}

.badge:focus {
    box-shadow: 0 0 0 5px var(--focus-color);
}

.badge.success {
    --bg-color   : var(--lime-100);
    --focus-color: var(--lime-500);
    --hover-color: var(--lime-300);
    --text-color : var(--lime-900);
}

.badge.error {
    --bg-color   : var(--strawberry-100);
    --focus-color: var(--strawberry-500);
    --hover-color: var(--strawberry-300);
    --text-color : var(--strawberry-900);
}

.badge.warning {
    --bg-color   : var(--banana-100);
    --focus-color: var(--banana-500);
    --hover-color: var(--banana-300);
    --text-color : var(--banana-900);
}

.badge.info {
    --bg-color   : var(--blueberry-100);
    --focus-color: var(--blueberry-500);
    --hover-color: var(--blueberry-300);
    --text-color : var(--blueberry-900);
}

@media (prefers-color-scheme: dark) {
    .badge.success {
        --bg-color   : var(--lime-900);
        --focus-color: var(--lime-500);
        --hover-color: var(--lime-700);
        --text-color : var(--lime-100);
    }

    .badge.error {
        --bg-color   : var(--strawberry-900);
        --focus-color: var(--strawberry-500);
        --hover-color: var(--strawberry-700);
        --text-color : var(--strawberry-100);
    }

    .badge.warning {
        --bg-color   : var(--banana-900);
        --focus-color: var(--banana-500);
        --hover-color: var(--banana-700);
        --text-color : var(--banana-100);
    }

    .badge.info {
        --bg-color   : var(--blueberry-900);
        --focus-color: var(--blueberry-500);
        --hover-color: var(--blueberry-700);
        --text-color : var(--blueberry-100);
    }
}

.badge-group {
    align-items: center;
    display    : flex;
    flex-wrap  : wrap;
    gap        : var(--space, var(--space-s));
}