.button {
    color           : var(--color, var(--bg-100));
    font-weight     : 600;
    background-color: var(--background-color, var(--fg-100));
    display         : inline-flex;
    gap             : 1em;
    align-items     : center;
    border          : none;
    padding         : 0.5em;
    font-size       : 1em;
    border-radius   : 0.25em;
    text-decoration : none;
    cursor          : pointer;
    transition      : color 300ms, background-color 300ms, opacity 300ms, box-shadow 300ms;

    --color           : var(--fg-100);
    --background-color: var(--bg-t);
    --focus-color     : var(--accent-500);
}

.button:hover {
    color           : var(--hover-color, var(--fg-100));
    background-color: var(--hover-background-color, var(--fg-t));
    text-decoration : none;
}

.button:focus {
    outline   : none;
    box-shadow: 0 0 0 3px var(--focus-color);
}

.button:active {
    opacity: 0.5;
}

.button.no-bg {
    --color           : var(--fg-100, inherit);
    --background-color: transparent;
    --shadow          : transparent !important;
}

.button.secondary {
    --background-color      : var(--secondary-500);
    --color                 : var(--silver-100);
    --hover-background-color: var(--secondary-100);
    --hover-color           : var(--secondary-900);
    --shadow-color          : var(--secondary-500-transparent);
}

.button.secondary.no-bg {
    --background-color      : transparent;
    --color                 : var(--secondary-900);
    --hover-background-color: var(--secondary-100);
    --hover-color           : var(--secondary-900);
}

.button.accent {
    --background-color      : var(--accent-500);
    --color                 : var(--silver-100);
    --focus-color           : var(--accent-300);
    --hover-background-color: var(--accent-100);
    --hover-color           : var(--accent-900);
    --shadow-color          : var(--accent-500-transparent);
}

.button.accent.no-bg {
    --background-color      : transparent;
    --color                 : var(--accent-900);
    --hover-background-color: var(--accent-100);
    --hover-color           : var(--accent-900);
}

.button .feather,
.button .icon {
    height: 0.9em;
    width : auto;
}

@media (prefers-color-scheme: dark) {
    .button {
        --color           : var(--fg-500);
        --background-color: var(--bg-100);
    }

    .button.no-bg {
        --background-color: transparent;
        --color           : var(--fg-300, inherit);
    }

    .button.secondary {
        --background-color      : var(--secondary-700);
        --color                 : var(--silver-100);
        --hover-background-color: var(--secondary-900);
        --hover-color           : var(--secondary-100);
    }

    .button.secondary.no-bg {
        --background-color: transparent;
        --color           : var(--secondary-300);
    }

    .button.accent {
        --background-color      : var(--accent-700);
        --color                 : var(--silver-100);
        --hover-background-color: var(--accent-900);
        --hover-color           : var(--accent-100);
    }

    .button.accent.no-bg {
        --background-color: transparent;
        --color           : var(--accent-300);
    }
}