.button {
    align-items     : center;
    background-color: var(--button-background, var(--background-color, var(--bg-1)));
    border          : none;
    border-radius   : 0.25em;
    color           : var(--button-color, var(--color, var(--default-text)));
    cursor          : pointer;
    display         : inline-flex;
    font-family     : var(--font-sans);
    font-size       : 1rem;
    font-weight     : 600;
    gap             : 1em;
    justify-content : center;
    padding         : var(--space-s) calc(var(--space-s) * 2);
    text-decoration : none;
    // transition      : color 300ms, background-color 300ms, opacity 300ms, box-shadow 300ms;

    --focus-color: var(--blueberry-500);
}

.button.icon-only {
    padding: var(--space-s);
}

.button:hover {
    color           : var(--button-color, var(--hover-color, var(--default-text)));
    background-color: var(--button-background, var(--hover-background-color, var(--silver-500)));
    border-color: var(--button-background, var(--hover-background-color, var(--silver-500)));
    text-decoration : none;
}

.button:focus-visible {
    @include focus-ring(var(--focus-color));
}

.button:active {
    opacity: 0.5;
}

.button-group.no-bg .button,
.button.no-bg {
    --color                 : var(--default-text, inherit);
    --background-color      : transparent;
    --shadow                : transparent !important;
    --hover-background-color: var(--silver-300);
}

.button-group.primary .button,
.button.primary {
    --background-color      : var(--bubblegum-500);
    --color                 : var(--silver-100);
    --hover-background-color: var(--bubblegum-100);
    --hover-color           : var(--bubblegum-900);
    --shadow-color          : var(--bubblegum-500-transparent);
}

.button-group.primary.no-bg .button,
.button.primary.no-bg {
    --background-color      : transparent;
    --color                 : var(--bubblegum-700);
    --hover-background-color: var(--bubblegum-100);
    --hover-color           : var(--bubblegum-900);
}

.button-group.accent .button,
.button.accent {
    --background-color      : var(--blueberry-500);
    --color                 : var(--silver-100);
    --focus-color           : var(--blueberry-300);
    --hover-background-color: var(--blueberry-100);
    --hover-color           : var(--blueberry-900);
    --shadow-color          : var(--blueberry-500-transparent);
}

.button-group.accent.no-bg .button,
.button.accent.no-bg {
    --background-color      : transparent;
    --color                 : var(--blueberry-700);
    --hover-background-color: var(--blueberry-100);
    --hover-color           : var(--blueberry-900);
}

.button .feather,
.button .icon {
    height: 0.9em;
    width : auto;
}

@media (prefers-color-scheme: dark) {
    .button {
        --color                 : var(--default-text);
        --background-color      : var(--bg-1);
        --hover-background-color: var(--bg-2);
    }

    .button-group.no-bg .button,
    .button.no-bg {
        --background-color      : transparent;
        --color                 : var(--default-text, inherit);
        --hover-background-color: var(--bg-1);
    }

    .button-group.primary .button,
    .button.primary {
        --background-color      : var(--bubblegum-700);
        --color                 : var(--bubblegum-100);
        --hover-background-color: var(--bubblegum-900);
        --hover-color           : var(--bubblegum-100);
    }

    .button-group.primary.no-bg .button,
    .button.primary.no-bg {
        --background-color: transparent;
        --color           : var(--bubblegum-300);
    }

    .button-group.accent .button,
    .button.accent {
        --background-color      : var(--blueberry-700);
        --color                 : var(--silver-100);
        --hover-background-color: var(--blueberry-900);
        --hover-color           : var(--blueberry-100);
    }

    .button-group.accent.no-bg .button,
    .button.accent.no-bg {
        --background-color: transparent;
        --color           : var(--blueberry-300);
    }
}

.floating {
    position: absolute;
    bottom  : var(--space, var(--space-m));
    right   : var(--space, var(--space-m));
    z-index : var(--elevate-navbar);
}

.fixed.floating {
    position: fixed;
}

.button.circle {
    min-width: 0;
}

.button.loading::before {
    content         : '';
    animation       : spin 1s infinite;
    border          : 2px solid transparent;
    border-radius   : 100%;
    border-top-color: currentColor;
    height          : 1em;
    width           : 1em;
}

.button.loading svg {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}