.card {
    background-color: var(--background, var(--bg-0));
    border          : var(--border);
    border-radius   : var(--border-radius);
    display         : grid;
    grid-auto-rows  : min-content;
    overflow        : hidden;
    padding         : var(--space, var(--space-s));
    transition      : box-shadow 300ms;

    --border: 1px solid var(--border-color, var(--bg-2));
}

.card.accent {
    --background          : var(--blueberry-100);
    --border-color        : var(--blueberry-300);
    --selection-background: var(--blueberry-300);
}

.card.primary {
    --background          : var(--bubblegum-100);
    --border-color        : var(--bubblegum-300);
    --selection-background: var(--bubblegum-300);
}

.card.raised {
    --border: none;
}

@media (prefers-color-scheme: dark) {
    .card {
        --background: var(--bg-100);
    }

    .card.card.primary {
        --background          : var(--bubblegum-900);
        --border-color        : var(--bubblegum-700);
        --selection-background: var(--bubblegum-500);
    }

    .card.accent {
        --background          : var(--blueberry-900);
        --border-color        : var(--blueberry-700);
        --selection-background: var(--blueberry-500);
    }
}

.image-card {
    display      : grid;
    box-shadow   : var(--shadow);
    border-radius: var(--border-radius);
    overflow     : hidden;
    max-width    : var(--width, 45ch);

    --shadow: var(--shadow-1);
}

.image-card.horizontal {
    max-width: none;
}

.image-card>.card {
    --shadow: none;
    --border: none;
}

@media (min-width: 840px) {
    .image-card {
        --shadow          : revert;
        grid-template-rows: minmax(10ch, 1fr) auto;
    }

    .image-card.horizontal {
        grid-template-rows   : 1fr;
        grid-template-columns: 9fr 16fr;
        max-height           : var(--height, 30ch);
    }

    .image-card>* {
        grid-column: 1/2;
    }

    .image-card img {
        grid-row: 1/3;
        height  : 100%;
    }

    .image-card.horizontal img {
        grid-column: 1/3;
        grid-row   : 1/2;
    }

    .image-card>.card {
        --shadow: var(--shadow-2);
        grid-row: 2/3;
        margin  : var(--space, var(--space-s));
    }

    .image-card.horizontal>.card {
        grid-column: 2/3;
        grid-row   : 1/2;
    }
}

@supports (backdrop-filter: blur(1rem)) {
    .blurred.image-card {
        grid-template-rows : revert;
        background-image   : var(--blur-background);
        background-color   : var(--bg-0);
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
    }

    .blurred.image-card>* {
        grid-row: span 1;
    }

    .blurred.image-card>.card {
        --brightness: 120%;

        margin          : 0;
        border-radius   : 0;
        border          : 0;
        background-color: hsla(var(--bg-0-raw) / 75%);
        backdrop-filter : blur(0.25rem) saturate(200%) brightness(120%);

        @media (prefers-color-scheme: dark) {
            --brightness: 20%;
        }
    }

    @media (hover: hover) and (pointer: fine) {
        .blurred.image-card.hoverable {

            &>* {
                grid-row   : 1;
                grid-column: 1;
            }

            &>.card {
                align-self     : end;
                backdrop-filter: none;
                position       : relative;
                transform      : translateY(100%);
                transition     : transform 300ms;

                &,
                &::before {
                    background-image   : var(--blur-background);
                    background-position: bottom;
                    background-repeat  : inherit;
                    background-size    : inherit;
                    background-attachment: local;
                }

                &::before,
                &::after {
                    content : "";
                    bottom  : -0.25rem;
                    left    : -0.25rem;
                    position: absolute;
                    right   : -0.25rem;
                    top     : -0.25rem;
                    z-index : -1;
                }

                &::before {
                    filter: blur(0.25rem) saturate(150%) brightness(120%);
                }

                &::after {
                    background-color: hsla(var(--bg-0-raw) / 75%);
                }
            }

            &:hover>.card,
            &:focus>.card,
            &:focus-within>.card {
                transform: translateY(0);
            }
        }
    }
}

.card.focusable:focus-visible,
.card.focusable:focus-within,
.card.hoverable:hover {
    box-shadow: var(--shadow-2)
}