.code-snippet {
    background-color  : var(--bg-1);
    border-radius     : var(--border-radius);
    display           : grid;
    font-size         : 1rem;
    gap               : var(--space-l);
    grid-template-rows: auto 1fr;
    overflow          : auto;
    padding           : var(--space-l);
    scrollbar-color   : var(--bg-3) transparent;
}

.code-snippet[data-prog-lang]::before {
    background-color: var(--bg-2);
    border-radius   : var(--border-radius);
    color           : var(--subtle-text);
    content         : attr(data-prog-lang);
    font-family     : var(--font-sans);
    font-size       : smaller;
    font-weight     : bold;
    justify-self    : start;
    left: 0;
    padding         : var(--space-s);
    position: sticky;
    text-transform  : uppercase;
}

.code-snippet .preloader {
    display: none;
}

.code-snippet code {
    border-radius   : 0;
    background-color: transparent;
    color           : var(--default-text);
}