.code-snippet {
    background-color: var(--bg-300);
    border-radius   : var(--border-radius);
    font-size       : 1rem;
    padding         : var(--space-l);
    padding-top     : calc(var(--space-l) * 3);
    position        : relative;
}

.code-snippet code[data-language]::before {
    background-color: var(--secondary-500-transparent);
    border-radius   : var(--border-radius);
    color           : var(--secondary-900);
    content         : attr(data-language);
    font-family     : var(--font-sans);
    font-size       : smaller;
    font-weight     : bold;
    left            : 0;
    margin          : var(--space-s);
    padding         : var(--space-s);
    position        : absolute;
    text-transform  : uppercase;
    top             : 0;
}

@media (prefers-color-scheme: dark) {
    .code-snippet code[data-language]::before {
        color: var(--secondary-100);
    }
}