/* Disclosure Widget */

details {
	border: 1px solid var(--bg-1);
	background-color: var(--bg-0);
}

details[open] {
	border: 1px solid var(--bg-2);
}

details summary {
	padding: var(--space-l);
	display: flex;
	cursor: pointer;
	list-style: none;
	align-items: center;
}

details[open] summary {
	border-bottom: 1px solid var(--bg-2);
	background-color: var(--bg-1);
}

details summary::after {
	content: '';
	width: 0.5em;
	height: 0.5em;
	display: block;
	margin-left: auto;
	transition: transform 300ms;
	border: 1px solid transparent;
	border-right-color: currentColor;
	border-bottom-color: currentColor;
	transform: rotate(45deg) translateY(-0.25em);
}

details[open] > summary::after {
	transform: rotate(-135deg) translateY(0.25em);
}

.disclosure-group {
  margin: var(--space-l);
}

.disclosure-group details+details:not(:last-child),
.disclosure-group details:first-child {
	border-bottom: none;
}
