.figure {
    display: grid;
}

.figure img {
    border-radius: var(--border-radius);
}

.figure figcaption {
    font-family: var(--body-copy, var(--font-serif));
    font-size  : 0.9em;
    text-align : center;
    width      : 75%;
    max-width  : 45ch;
    margin     : auto;
}

.figure figcaption b {
    font-family: var(--font-sans);
}

.quotation {
    padding: 1em 2em;
    border : 1px solid var(--bg-1);
}

.quotation blockquote {
    font-size  : 1.25em;
    line-height: 1.5;
    padding    : 0;
    margin     : 0;
    font-family: var(--font-sans);
    font-weight: 300;
}

.quotation figcaption {
    text-align: center;
    margin    : auto;
    display   : block;
}

.quotation figcaption::before {
    content: '—';
}

.quotation cite {
    font-style : normal;
    font-family: var(--font-sans);
}