.nav-item {
    align-items     : center;
    background-color: transparent;
    border          : none;
    border-radius   : var(--border-radius);
    color           : var(--fg-100);
    cursor          : pointer;
    display         : flex;
    flex-wrap       : wrap;
    font-size       : 1em;
    gap             : var(--space, var(--space-s));
    justify-content : center;
    letter-spacing  : 2px;
    padding         : var(--space, var(--space-s));
    text-decoration : none;
    text-transform  : uppercase;
}
.nav-item.selected,
.nav-item:focus,
.nav-item:hover {
    background-color: var(--bg-300);
    text-decoration: none;
}

.nav-item:active {
    background-color: var(--bg-500);
}

.nav-item:focus {
    box-shadow: 0 0 0 3px var(--bg-500);
    outline   : none;
}

.nav-item svg,
.nav-item img {
    height: 1em;
    width : 1em;
}

.nav-item .logo {
    height: 2em;
    width : 2em;
}

.nav-item__main {
    flex: 1;
}

.menu {
    margin-right: var(--space, --space-s);
}