.navbar {
    align-items     : center;
    background-color: var(--bg-0);
    display         : flex;
    position        : relative;
    width           : 100%;
    transition      : top 300ms;
    z-index: var(--elevate-navbar);

    --space: var(--space-m);
}

.navbar.pinned,
.navbar.sticky {
    border-bottom: 1px solid var(--bg-300);
    box-shadow   : 0 4px 15px #0001;
    position     : sticky;
    top          : 0;
    width        : 100%;
    z-index      : calc(var(--elevate-navbar) * 2);
}

@supports (backdrop-filter: blur(72px)) {
    .blurred.navbar {
        backdrop-filter : saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.8);
        background-color: hsla(var(--bg-0-raw) / 80%)
    }
}

.navbar ul {
    display   : flex;
    list-style: none;
    margin    : 0;
    padding   : var(--space, --space-s);
}

.navbar .end-aligned {
    justify-content: flex-end;
    margin-left: auto;
    margin-inline-start: auto;
}

.navbar .dropdown {
    flex-direction: column;
    padding       : var(--space-s);
    position      : absolute;
}

.navbar .dropdown.fixed-to-right {
    right          : var(--space, --space-s);
    top            : 100%;
    justify-content: right;
}

@media (max-width: 959px) {
    .navbar .dropdown:not(.open) {
        display: none;
    }
}

@media (min-width: 960px) {
    .navbar .dropdown {
        background-color: var(--bg-0);
    }

    .navbar.pinned {
        --space: var(--space-xs)
    }
}

.navbar:focus-within,
.navbar.scroll-up {
    top: 0;
}

.navbar.scroll-down {
    top: -100%;
}

.navbar ul {
    gap       : var(--flex-gap, 1em);
    transition: padding 300ms;
}

.navbar.fixed {
    border-bottom: 1px solid var(--bg-2);
}