.navbar {
    align-items     : center;
    background-color: var(--bg-100);
    display         : flex;
    position        : relative;
    width           : 100%;

    --space: var(--space-m);
}

.navbar.pinned,
.navbar.sticky {
    border-bottom: 1px solid var(--bg-300);
    box-shadow   : 0 4px 15px #0001;
    position     : sticky;
    top          : 0;
    width        : 100%;
    z-index      : calc(var(--elevate-navbar) * 2);
}

@supports (backdrop-filter: blur(72px)) {
    .blurred.navbar {
        backdrop-filter : saturate(180%) blur(20px);
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@media (prefers-color-scheme: dark) {
    @supports (backdrop-filter: blur(72px)) {
        .blurred.navbar {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.navbar ul {
    display   : flex;
    flex      : 1;
    list-style: none;
    margin    : 0;
    padding   : var(--space, --space-s);
}

.navbar .end-aligned {
    justify-content: flex-end;
}

.navbar .dropdown {
    flex-direction: column;
    padding       : var(--space-s);
    position      : absolute;
}

.navbar .dropdown.fixed-to-right {
    right          : var(--space, --space-s);
    top            : 100%;
    justify-content: right;
}

@media (max-width: 959px) {
    .navbar .dropdown:not(.open) {
        display: none;
    }
}

@media (min-width: 960px) {
    .navbar .dropdown {
        background-color: transparent;
        box-shadow      : none;
        flex-direction  : row;
        padding         : var(--space);
        position        : static;
    }

    .navbar [data-toggle],
    .navbar [data-navmenu] {
        display: none;
    }

    .navbar.pinned {
        --space: var(--space-xs)
    }
}